@font-face{
    font-family: 'AaManYuShouXieTi';
    font-display: swap;
    src: url('../fonts/AaManYuShouXieTi.ttf') format("truetype");
}
@font-face{
    font-family: 'CascadiaCode';
    font-display: swap;
    src: url('../fonts/CascadiaCode.ttf') format("truetype");
}